<form class="shadow container-sm rounded">
  <div style="text-align: center; padding: 5px;">
    <h1>H D P</h1>
    <h3>Hasta Donde Puedas</h3>
    <img src="../../../assets/logo.jpeg" class="img-fluid rounded" alt="">
  </div>
  <br>
  <div class="d-grid gap-2">
    <input type="text" class="form-control" id="usuarioInput" placeholder="Escribí tu nombre" name="nombre" [(ngModel)]="nombre">
    <button type="button" class="btn btn-danger" (click)="nav('crear')">Crear sala</button>
    <button type="button" class="btn btn-dark" (click)="nav('unirse')">Unirse a una sala</button>
  </div>
</form>
